
body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}
.chambers {
  padding: 25px;
  display: grid;
  gap: 18px;
  grid-template-columns: 38% 17% 22% 22%;
  grid-template-rows: 33.5% 32% 32.5%;
}

.conference { grid-area: 1 / 1 / 2 / 2; }
.serveurs   { grid-area: 1 / 3 / 2 / 4; }
.security   { grid-area: 1 / 4 / 2 / 5; }
.reception  { grid-area: 2 / 1 / 4 / 2; }
.personnel  { grid-area: 3 / 3 / 4 / 4; }
.archive    { grid-area: 3 / 4 / 4 / 5; }

.room {
  background: white;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #ccc;
}

.room_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_panel {
  width: 280px;
  background: #ffffff;
  padding: 20px;
  border-right: 2px solid #ddd;
  height: 100vh;
}

.btn_add {
  width: 100%;
  padding: 10px;
  background: #287bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.plus_btn {
  background: #28a745;
  border: none;
  color: white;
  padding: 5px 12px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}
