.chambers {
      display: grid;
      grid-template-columns: 38% 17% 22% 22%;
      grid-template-rows: 33.5% 32% 32.5%;
    }
    .conference {
      grid-area: 1 / 1 / 2 / 2;
    }
    .serveurs {
      grid-area: 1 / 3 / 2 / 4;
    }
    